/publicizeHUB-club/nbproject/private/
/publicizeHUB-club/build/
/PublicizeHUB-Club/build/
/PublicizeHUB-Club/nbproject/
/PublicizeHUB-Club/dist/
/PublicizeHUB-Club/.scannerwork/
/PublicizeHUB-Club/sonar-project.properties